body {
	
  background-color: #fffbfb;
}

body div.mycalc {
	text-align: center;
	width: 214px;
	margin: 0 auto;
}

div input[type='button'], button {
	width: 50px;
	height: 50px;
	margin: 2px 0;
}

div input[type="text"] {
	height: 50px;
	width: 100%;
	background-color: #999;
	color: #fff;
	padding: 12px 20px;
    margin-top: 100px;
    margin-bottom: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #777;
}

div.results input, div.results button {
	height: 50px;
	width: 104px;
}

div.results button {
	background-color: red;
	color: #fff;
	border: 1px solid red;
}

div.results input {
	background-color: #fd7202;
	color: #fff;
	border: 1px solid #fd7202;
}

#plus, #minus, #by, #devide, #percent {
	background-color: green;
	color: #fff;
	border: 1px solid green;
	font-size: 16px;
}
#toggle {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 15px;
  top: 15px;
  background-color: #07076e;
  border-radius: 50%;
  -webkit-box-shadow: 1px -1px 8px 3px rgb(255 255 255);
  -moz-box-shadow: 1px -1px 8px 3px rgb(255 255 255);
  box-shadow: 1px -1px 8px 3px rgb(255 255 255);
  overflow: hidden;
}
#toggle::after {
  content: '';
  background-color: yellow;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  transform: translate(-10px, -10px);
  
}
.dark #toggle {
  -webkit-box-shadow: 1px -1px 8px 3px rgb(255 255 255);
  -moz-box-shadow: 1px -1px 8px 3px rgb(255 255 255);
  box-shadow: 1px -1px 8px 3px rgb(255 255 255);
  background-color: yellow;
}
.dark #toggle::after{display: none;}
body.dark{
  background-color: #000;
}